
.img-demo{
    max-width: 600px;
    min-width: 200px;
    border-radius:10px;
}
.tg-logo{
    width:50px;
    max-width: 100%;
}
#bot_submit{
    font-size: 2em;
}
.demo-block{
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
}

@media (max-width: 406px){
    .img-demo{
        transition: .3s;
        max-width: 300px;
    }
    
}

